<div class="container">
    <div class="title">
        <h2 class="text-success mt-4">Tracking Repair History</h2>
    </div>
    
    <form asp-controller="TrackingHistory" asp-action="SearchResult" class="mt-5" method="get">
        <p>
            License plates: <input style="margin-left: 6px" type="text" name="SearchString" />
            <br />
            <input class="mt-4" style="margin-left: 165px" type="submit" value="Track" />
        </p>
    </form>

</div>

